
.homeContainer{
    background-color:#001232;
    height: 100%;
    padding: 0 140px;
    background-image: url("http://pixner.net/boleto/demo/assets/images/banner/banner02.jpg");
    background-repeat: no-repeat;

}

.banner{
   
}